<div class="nav">
<nav>
  <ul>
    <li><a class="navbuttons" href="https://in.linkedin.com/in/skip-mcgee" id="LinkedIn">About Me</a></li>
    <li><a class="navbuttons" href="https://skipmcgee.github.io/WeatherApp/" id="WeatherApp">WeatherApp</a></li>
    <li><a class="navbuttons" href="https://github.com/skipmcgee/expense_impact" id="Expense Analysis">Expense Analysis</a></li>
    <li><a class="navbuttons" href="https://github.com/skipmcgee/host_security" id="Host Security">Host Security</a></li>
    <li><a class="navbuttons" href="https://github.com/skipmcgee/2106" id="TF2106">Tax Form 2106</a></li>
    <li><a class="navbuttons" href="https://skipmcgee.github.io/20.2_deployment/" id="20.2 Deployment">20.2 Deployment</a></li>
  </ul>
</nav>
</div>
