---
---

@import "{{ site.theme }}";
.navbuttons {
  all: initial;
  * {
    all: unset;
  }
}
.navbuttons {
  background-color: darkgray;
  border: 3px outset;
  display: inline-block;
  padding: 12px;
  margin: 5px 75px;
}
